name: New Version Checker
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  check-notify:
    name: Check & Notify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install nvchecker
        run: pip install nvchecker

      - name: Run nvcheck.sh
        run: .scripts/nvcheck.sh > nver.txt

      - name: Read nver.txt
        id: nver
        uses: juliangruber/read-file-action@v1
        with:
          trim: false
          path: ./nver.txt

      - name: Add summary
        if: "endsWith(steps.nver.outputs.content, '\n')"
        run: echo "${{ steps.nver.outputs.content }}" >> $GITHUB_STEP_SUMMARY

      - name: Send mail
        if: "endsWith(steps.nver.outputs.content, '\n')"
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: ${{ secrets.MAIL_SMTP_ADDRESS }}
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: AUR New Version Checker (${{ github.run_number }})
          body: |
            nvchecker found new versions via GitHub Actions [1]

            ${{ steps.nver.outputs.content }}
            [1] https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          to: ${{ secrets.MAIL_TO }}
          from: ${{ secrets.MAIL_FROM }}
